<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/admin.css">
  <title>QingchengFE I18n</title>
  <script src="https://static.qingchengfit.cn/lib/vue3.2.1.66baceff9aaef9bff7d9914aa3572b6b.js"></script>
  <script>
    var data = <%- JSON.stringify(words) %>;
    var id = <%- id %>;
    var apps = <%- JSON.stringify(apps) %>;
  </script>
</head>

<body>
  <div id="app" v-cloak>
    <header>
      <h2>
        {{appName}}
        <select class="select" @change="selectAPP">
          <option v-for="item in apps" :value="item.id">{{item.name}}</option>
        </select>
      </h2>
    </header>
    <div class="form-item" v-for="(item, index) in wordsArray" :key="index">
      <label>
        <span class="num">{{index + 1}}. </span>
        <span class="label-text">{{item.key}}:</span>
        <input type="text" v-model="item.val">
      </label>
    </div>
    <button @click="submit" v-if="wordsArray.length">提交</button>
  </div>
  <script src="/js/admin.js"></script>
  <script src="https://static.qingchengfit.cn/lib/axios@0.21.1.70489d9432ef978db53bebda3e9f4c14.js"></script>
</body>

</html>