[v-cloak] {
  display: none;
}

body {
  padding-bottom: 50px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.app-select {
  margin-right: 10px;
}

.mbt-10 {
  margin-bottom: 10px !important;
}

.el-button.submit-btn {
  position: fixed;
  bottom: 100px;
  right: 40px;
  display: block;
  width: 54px;
  height: 54px;
  margin: auto;
  background-color: rgb(242, 245, 246);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 6px;
}
